*{
    margin: 0px;
    padding: 0px;
    /* border-style: solid; */
}

.users_info_list{
    position: fixed;
    float: left;
    width: 350px;
    height: 100vh;
    border-right: 1px solid #CCCCCC;
}
.chat_space{
    position: fixed;
    float: right;
    width: calc(100% - 350px);
    overflow: hidden;
    height: 100vh;
    top: 0px;
    right: 0px;
}

.user_info{
    background-color: #CCFFFF;
    padding-top: 10px;
    border-left: solid 5px #1d72e9;
}

.user_info_wrap{
    display: inline-block;
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 50%;
}

/* ユーザー情報の画像 */
.user_image img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.user_image{
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
/* ユーザー情報の画像 */

/* 他の人のチャット表示 */
.person_info{
    padding: 5px 20px;
}

/* チャットの他の人の画像 */
.person_image img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.person_image{
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
/* チャットの他の人の画像 */

.person_chat_wrap{
    display: inline-block;
    padding: 0px;
}
.person_message{
    position: relative;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #e0edff;
}
.person_message:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #e0edff;
}
/* 他の人のチャット表示 */

/* 私のチャット表示 */
.my_info{
    display: block;
    margin: 0 0 0 auto;
}
.my_chat_wrap{
    text-align: right;
}

.my_message{
    position: relative;
    display: inline-block;
    margin: 12px 15px 12px 0;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #e0edff;
}
.my_message:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -15px;
    border: 7px solid transparent;
    border-left: 7px solid #e0edff;
} 
/* 私のチャット表示 */

/* 送信フォーム */
.form{
    position: fixed;
    left: 400px;
    bottom: 0;
    width: 100%;
}

.form .msg{
    height: 30px;
    width: 40%;
    margin:0px 0px 10px 0px;
    text-align: left;
}

.form .msg::placeholder {
    text-align: center;
}

.form .btn{
    height: 40px;
    width: 10%;
    background-color: #24ffd0;
    margin: 0px 0px 10px 0px;
}

/* 送信フォーム */